@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  /*задаем общий стиль сайта, задний фон, шрифт, размер шрифта*/
  background-color: rgb(54, 54, 54);
  color: rgb(212, 212, 212);
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;

  /* font: normal 16px "Roboto", sans-serif; */
}

body h1 {
  color: #ff8000;
}

a {
  /*редактируем все стили ссылок*/
  color: #d4d4d4;
  text-decoration: none; /* убирает подчеркивание ссылок*/
}

a:hover {
  text-decoration: underline; /* делает подчеркивание ссылки ТОЛЬКО при наведении */
}

a:active {
  color: #ff8000; /* меняет цвет названия ссылки при наатии*/
}

a:visited {
  color: #ffb162;
}

.avatar {
  /*редактируем картинку с геройкой в начале страницы*/
  width: 300px;
  border-radius: 50px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}

.info {
  display: flex;
  margin: 24px;
  text-align: center;
}

.info h1 {
  margin-top: 0;
}
.info p {
  /*редактируем все параграфы */
  color: rgb(212, 212, 212);
  margin: 0;
  font-style: normal;
  font-weight: bold;
}

/* box model */

.container {
  /*запихиваем все дивы в контейнер*/
  width: 1000px;
  margin: auto;
  pagging-top: 20px;
}

.firsttext {
  text-align: justify;
  padding: 30px 30px;
  margin-left: 30px; /*Делает разделение карточек*/
  border-radius: 20px;
  background-color: #222222;
}

/*.social {
  background: rgb(41, 41, 41);
  padding: 15px;
  /* можно указать 4 значения к примеру 15px 20px 30px 40px 
  самое первое это значение TOP, далее право - низ - лево */
/* border: 2px solid yellow; */
/* border-bottom-style: dotted; */
/* margin: 5px; */
/* border-top-width: 15px;  Делает жирнее верхнюю границу */
/* border-right-color: blue; делает правую границу голубой */
/* } */

/* .box-model div {
   div в конце значит, что стили применяются ко всем 
  вложенным дивам, даже вложенным во вложенные
  если нужно чтобы ТОЛЬКО во вложенные дивы, то > div 
  float: left;
  background: aqua;
  height: 200px;
  width: 25%;
  border: 4px solid red;
  box-sizing: border-box;
   border-box значение свойства box-sizing позволяет
  выстроить 4 квадрата горизонтально, чтобы последний  
  не переносился на новую строку
}

html привер к стилю выше
<div class="box-model">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div style="margin-bottom: 500px"></div> */

.card {
  padding: 10px 20px;
  margin-bottom: 20px; /*Делает разделение карточек*/
  border-radius: 20px;
  margin-right: 175px;
  margin-left: 175px;
}

.card h2 {
  margin-bottom: 20px;
  margin-left: 20px;
}

.bg-colored {
  background: #222222;
}

.list {
  padding: 0 20px;
  color: #ff8000;
}

.list li {
  color: #d4d4d4;
}

.card h2 {
  color: #ff8000;
}

.card table {
  color: #d4d4d4;
}

.table {
  width: 100%;
  text-align: justify;
  padding-left: 20px;
}
/*
* {
  padding: 0;
  margin: 0;
}
применяет значения ко всем элементам страницы */

.table td {
  padding-bottom: 20px;
}

/* .table td:nth-child(1) { применяет сразу ко всему первому столбику стиль */
/* font-weight: bold; */
/* } */

::selection {
  background-color: #ff8000;
  color: #fff;
}

.table tr:nth-child(1) {
  font-weight: bold;
  font-size: 20px;
}

.table td:nth-child(3) {
  text-align: center;
}

.contact h2 {
  text-align: center;
  color: #ff8000;
  width: 200px;
  background: black;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #ff8000;
}

.form-group textarea {
  background: transparent;
  color: #d4d4d4;
  box-sizing: border-box;
  outline: none;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  width: 100%;
  border: none;
}

.form-group input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #7a7a7a;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
  background: transparent;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-right: 20px;
}

.row > .form-group:last-child {
  margin-right: 0px;
}

.temp {
  padding: 10px 20px;
  margin-bottom: 20px; /*Делает разделение карточек*/
  border-radius: 20px;
  margin-right: 175px;
  margin-left: 175px;
  background-color: #222222;
}

.temp h2 {
  padding-bottom: 20px;
  color: #ff8000;
}

.citates {
  padding-left: 15px;
}

.citates li {
  padding-bottom: 15px;
  text-align: justify;
}

.istochniki {
  text-align: center;
  color: #ff8000;
}

.btn {
  background: #3d3d3d;
  padding: 15px 20px;
  color: #ff8000;
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 15px;
}

.btn:hover {
  opacity: 0.9;
}

/* Position */

/* .position {
  position: relative;
  border: 4px solid white;
  margin-top: 50px;
  padding: 20px;
  height: 300px;
} */

/* .box {
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  /* left: 0px; */
/* bottom: 1px; */
/* width: 50px; */
/* height: 50px; */
/* background: #ff8000; */
/* } */
